#elapsed-container{
    width: 30%;
    height: 10px;
    margin-top: 8px;
    border-radius: 3px;
    background: white;
    position: absolute;
}

#elapsed{
    width: 0;
    height: 100%;
    background: red;
}

#volumeContainer {
    width: 30px;
}

#utilityControl {
    width: 100%;
    position: fixed;
    bottom: 0;
    pointer-events: auto; 
    background-color: gray;
}

#titleText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.videoInPlaylist {
    cursor: pointer; 
}

.videoEntry {
    border-style: solid;
    margin-bottom: 5px;
}

.videoInPlaylist:hover {
    background-color: red;
}



button {
    outline: none;
}

